<div class="sign-in-form client-add-edit">
  <div class="row-fluid">
    <div class="span8 offset2 centered">
      <h1>Upload Report - <%= @user.first_name %> <%= @user.last_name %></h1>
      <h3>Please select a pdf file and click the upload button</h3>
    </div>
  </div>

  <div class="row-fluid">
    <div class="centered">
      <div class="auth-form">
        <%= simple_form_for(@attachment, :url => admin_user_attachments_path, :html => { :multipart => true, :method => :post } ) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :file_name, :required => true, wrapper: :prepend, :autofocus => true, placeholder: "Report Name" do %>
              <span class="add-on"><i class="icon-file"></i></span>
            <%= f.input_field :file_name, placeholder: "Report Name", :value => 'VCMI 3rd Quarter 2014 Report' %>
            <% end %>

            <%= f.input :file_note, :required => true, wrapper: :prepend, :autofocus => true, placeholder: "Report Description" do %>
              <span class="add-on"><i class="icon-file-text"></i></span>
            <%= f.input_field :file_note, placeholder: "Report Description", as: "text" %>
            <% end %>

           <div id="photo_attachment_container">
            <div class="wrapper">
              <%= f.input :avatar, :required => true, wrapper: :prepend, :autofocus => true, placeholder: "Avatar" do %>
                <%= f.file_field :avatar, as: "file" %>
              <% end %>
            </div>
            <button class ="action-btn-left upload-report"><i class="icon-paper-clip"></i></i> <span>Choose File</span></button>
            <p class="uploaded-file-name"></p>
            <br/>
            <% attachment_error = @attachment.errors[:avatar][0].to_s %>
            <span class="file-errors"><%= attachment_error unless @attachment.errors[:avatar].blank? -%></span>
          </div>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Upload Report" %>
            <%= link_to 'Cancel', admin_users_path, :class => "secondary-links" %>
            <%= link_to 'Reset', new_admin_user_attachments_path, :class => "secondary-links reset" %>
            <!-- <a href=" " class="secondary-links reset">Reset</a> -->
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row-fluid prev-reports-header">
    <div class="span8 offset2">
      <h2>Previous Reports</h2>

      <% if !@reports.present? %>
        <div class="no-reports">
          <h2>No reports uploaded</h2>
        </div>
      <% end %>
    </div>
  </div>
  <% if @reports.present? %>
    <div class="row-fluid table-row">
      <div class="span12">
        <table class="table client-table reports-table table-striped">
            <thead>
              <tr>
                <th>Report Name</th>
                <th><span>Report Description</span>
                <span class="report-upld-date-title">Report Upload Date</span></th>
              </tr>
            </thead>
            <tbody class="table-items">
              <% @reports.each do |report|%>
                <tr>
                  <td><%= report.file_name.truncate(20) %></td>
                  <td>
                    <div class="icons">
                      <span class="report-desc"><%= report.file_note.truncate(40) %></span>
                      <span class="report-upld-date"><%= report.created_at.strftime("%d %b %Y") %></span>

                      <%= link_to "<i class='icon-cloud-download'></i> Download Report".html_safe, admin_user_download_report_path(:id => report.id), class: "action-upload" %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  <% end %>
</div>
