<h2>Update User</h2>

<%= simple_form_for(@user, :url => admin_user_path, :html => { :method => :PUT } ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, :required => true, :autofocus => true, placeholder: "First Name" %>
    <%= f.input :last_name, :required => true, placeholder: "Last Name" %>
    <%= f.input :email, :required => true, placeholder: "Email" %>
    <%= f.input :description, placeholder: "Description", as: :text %>
    <%= f.input :address, placeholder: "Address", as: :text %>
    <%= f.input :phone, placeholder: "Phone Number" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update User" %>
  </div>
<% end %>
