<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span12">
          <div class="span7">
            <h2 class="client-name"><%= link_to "<i class='icon-angle-left'></i> Client: #{@user.first_name}#{' '}#{@user.last_name}".html_safe, admin_users_path, :class => "bread-left" %></h2>
          </div>
          <div class="span5">
            <%= link_to "<i class='icon-cloud-upload'></i> <span>Upload New Report</span>".html_safe, new_admin_user_attachments_path(:user_id => @user.id),  { :class=>"action-btn-left" } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid client-dash admin-dash">
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span12">
          <% if @latest_attachment.present? %>
            <div class="span6 offset3">
              <div class="big-page">
                <div class="page-content">
                  <h2><%= @latest_attachment.file_name.truncate(40) %></h2>
                  <p>
                    <%= @latest_attachment.file_note.truncate(150) %>
                  </p>
                </div>
                <i class="icon-file-text"></i>
              </div>
              <%= link_to "<i class='icon-cloud-download'></i> <span>Download</span>".html_safe, admin_user_download_report_path(:id => @latest_attachment.id), class: "action-btn-left main-doc-download latest-btn-down" %>
              <%= link_to "<i class='icon-trash'></i> <span>Delete</span>".html_safe, admin_user_destroy_report_path(:id => @latest_attachment.id), :confirm => "Are you sure? you want to delete #{@latest_attachment.file_name}", class: "action-btn-left main-doc-download main-doc-delete latest-btn-del" %>
            </div>

          <% else %>
            <div class="no-reports">
              <h2>No reports uploaded</h2>
            </div>
          <% end %>
        </div>
      </div>

      <% if @previous_attachments.present? %>
        <div class="row-fluid prev-reports-header">
          <div class="span12">
            <h2>Previous Reports</h2>
          </div>
        </div>
      <% end %>

      <div class="row-fluid prev-reports">
        <div class="span12">
          <% if @previous_attachments.present? %>
            <% @previous_attachments.in_groups_of(3).each do |attachment_group| %>
              <div class="row-fluid attachment-row">
                <div class="span12">
                  <% attachment_group.each do |attachment|%>
                    <% break if attachment.nil? %>
                    <div class="span4">
                      <div class="big-page">
                        <div class="page-content">
                          <h2><%= attachment.file_name.truncate(30) %></h2>
                          <p>
                            <%= attachment.file_note.truncate(140) %>
                          </p>
                        </div>
                        <i class="icon-file-text"></i>
                      </div>
                      <h3><%= attachment.file_name.truncate(40) %></h3>
                      <%= link_to "<i class='icon-cloud-download'></i> <span>Download</span>".html_safe, admin_user_download_report_path(:id => attachment.id), class: "action-btn-left main-doc-download" %>
                      <%= link_to "<i class='icon-trash'></i> <span>Delete</span>".html_safe, admin_user_destroy_report_path(:id => attachment.id), :confirm => "Are you sure? you want to delete #{attachment.file_name}.", class: "action-btn-left main-doc-download main-doc-delete" %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
